name: CI Builds

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  build-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Run Jacoco
        run: mvn org.jacoco:jacoco-maven-plugin:report -f pom.xml -U

      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v5.0.0

      - name: Analyze with SonarQube
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}   
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args:
            -Dsonar.projectKey=bitstep-ie_mango4j
            -Dsonar.organization=bitstep-ie
            -Dsonar.coverageReportPaths=**/target/jacoco/jacoco.xml
            -Dsonar.java.binaries=**/target/classes
